<div class="card-body">
  <%= simple_form_for(@teacher) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-group form-inputs">
      <%= f.input :teacher_name, class:"form-control" %>
      <%= f.input :teacher_bio, class:"form-control" %>
    </div>
</div>
<div class="form-actions card-footer" style="background-color: #b0e0e6;">
  <%= f.button :submit, class:"btn btn-info" %>
  <%= f.button :button, "Cancel", type: "reset", class:"btn btn-secondary" %>
</div>
<% end %>
