<p id="notice"><%= notice %></p>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item w-25"><h4>Name</h4></li>
    <li class="list-group-item w-25"><h4>Bio</h4></li>
    <li class="list-group-item">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary text-light">Show</button>
        <button type="button" class="btn btn-secondary text-light">Edit</button>
        <button type="button" class="btn btn-secondary text-light">Destroy</button>
      </div>
    </li>
  </ul>

<% @teachers.each do |teacher| %>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item w-25"><%= teacher.teacher_name %></li>
    <li class="list-group-item w-25"><%= teacher.teacher_bio %></li>
    <li class="list-group-item">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary"><%= link_to 'Show', teacher, class:"text-light" %></button>
        <button type="button" class="btn btn-secondary"><%= link_to 'Edit', edit_teacher_path(teacher), class:"text-light"  %></button>
        <button type="button" class="btn btn-secondary"><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-light"  %></button>
      </div>
    </li>
  </ul>
<% end %>
<br>
<%= link_to 'New Teacher', new_teacher_path, class:"btn btn-secondary" %>
