
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item w-25"><h4>Name</h4></li>
    <li class="list-group-item w-25"><h4>Bio</h4></li>
    <li class="list-group-item">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-light text-secondary">Show</button>
        <% if current_user && current_user.admin %>
          <button type="button" class="btn btn-light text-secondary">Edit</button>
          <button type="button" class="btn btn-light text-secondary">Destroy</button>
        <% end %>
      </div>
    </li>
  </ul>

<% @teachers.each do |teacher| %>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item w-25"><%= teacher.teacher_name %></li>
    <li class="list-group-item w-25"><%= teacher.teacher_bio %></li>
    <li class="list-group-item">
      <div class="btn-group" role="group" aria-label="Basic example">
        <%= link_to 'Show', teacher, class:"btn btn-outline-success" %>
        <% if current_user && current_user.admin %>
          <%= link_to 'Edit', edit_teacher_path(teacher), class:"btn btn-outline-success" %></button>
          <%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-success" %>
        <% end %>
      </div>
    </li>
  </ul>
<% end %>
<br>
<%= link_to 'New Teacher', new_teacher_path, class:"btn btn-outline-success" %>
