
<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="card-body">
    <div class="form-inputs">
      <%= f.input :course_name, placeholder: "Enter Name of Course" %>
      <%= f.input :course_desc, placeholder: "Describe Course" %>
      <%= f.input :course_subj, placeholder: "Enter Course Subject" %>
      <%= f.input :course_cred, placeholder: "How many credit hours is it?" %>
      <%= f.collection_select :teacher_id, Teacher.all, :id, :teacher_name, prompt: "Select a Teacher"%><br>
    </div>
  </div>
  <div class="card-footer form-actions">
    <%= f.button :submit, class:"btn btn-outline-success" %>
    <%= f.button :button, "Clear", type: "reset", class:"btn btn-outline-danger" %>
  </div>
<% end %>